* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #000000; /* Общий фон черный */
    color: #ffffff;
    min-height: 100vh;
    display: flex; /* Чтобы растянуть на всю высоту */
}
.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

/* Левая сторона */
.branding {
    flex: 0.9;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    position: relative;
}

.branding-icon {
    position: absolute;
    top: 40px;
    left: 50px;
}

.branding-icon img {
    width: 80px;
    margin-bottom: 0;
}

.main-text {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 40px;
    max-width: 600px;
    margin-top: 80px;
    align-self: center;
}

.highlight {
    background: linear-gradient(90deg, #ff5c36 0%, #d62976 50%, #962fbf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.mockup-container {
    align-self: center;
}

.mockup-container img {
    max-width: 90%;
    height: auto;
}

.login-container {
    flex: 1;
    display: flex;
    background-color: #16202a;
    justify-content: center;
    align-items: center;
    position: relative;
    border-left: 3px solid #3b5068;
}
.login-box {
    width: 100%;
    max-width: 700px;
    padding: 40px;
}

.login-text {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 35px;
}

.input-group {margin-bottom: 15px}

input {
    height: 60px;
    width: 100%;
    padding: 14px 16px;
    background-color: #1c2732;
    border: 1px solid #36404a;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    outline: none;
}
input:hover {
    border-color: white;
}

input:focus {
    color: white;
    outline: none;
}

.btn-primary{
    width: 100%;
    padding: 12px;
    background-color: #0064e0;
    color: white;
    border: none;
    border-radius: 35px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
.btn-primary:hover {
    background-color: #005bb5;
}

.link-forgot {
    background: transparent;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    width: 100%;
    border-radius: 35px;
    transition: all 0.3s ease;
    display: block;
    text-align: center;
    margin: 20px auto 50px;
    font-weight: 600;
    font-size: 16px;
}

.link-forgot:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn-outline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 1px solid #36404a;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}
.btn-outline:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.btn-create-account {
    color: #2196f3;
    border-color: #2196f3;
}

.small-icon {
    width: 20px;
    margin-right: 8px;
}

.meta-footer {
    text-align: center;
    margin-top: 20px;
    right: 0;
    left: 0;
    position: absolute;
}


.meta-footer img {
    height: 24px;
    opacity: 0.7;
}

@media (max-width: 900px) {
    .branding {display: none;}
    .login-container {border-left: none;}
}